<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="theme-color" content="#F7F7F7"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="author" content="RabbitThief"/>
<meta name="title" content="{% if page.title %}{{ page.title }}{% else %}RabbitThief's LOG{% endif %}"/>
<meta name="google-site-verification" content="S31-iMtoYhTERKmdQ7TRXN-cHhesDRtJavRSZ85dcrw" />
<meta name="naver-site-verification" content="d283e249b4051f018f3e13b0e9bd3036e0934097" />
<meta property="og:type" content="website"/>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}RabbitThief's LOG{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/{{ site.og-img }}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
<link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<!-- SEO Optimalize -->
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">