---
layout: default
---

{% include header.html type="post" %}

<!-- {% include topAdSense.html %} -->

<article class="post_container">
    <!-- <div style="text-align: center;"> -->
        <!-- <a href="https://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank"> -->
          <!-- <img src="https://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" /> -->
        <!-- </a> -->
    <!-- </div>  -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content | markdownify }}
            </div>
        </div>
    </div>
</article>

<!-- {% include bottomAdSense.html %} -->

<hr>

{% include otherPosts.html %}

<!-- <hr>

{% include comments.html %} -->